<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% block app_form %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="input-group">{{translate('APP')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <select id="input-group" class="form-control js-select2" name="app_id">
                            {% for app in apps %}
                            <option value="{{app.id}}">{{app.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate("QUESTION")}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="question" autocomplete="off" value="{{question.question}}" placeholder="{{translate("QUESTION.DESC_EXPLAIN")}}" {% if 'question' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate("QUESTION.LEVEL")}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <select id="input-group" class="form-control js-select2" name="level">
                            {% for level in levels %}
                            <option value="{{level.id}}">{{level.level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate("QUESTION.CHOICE_TYPE")}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <select id="input-group" class="form-control js-select2" name="choice_type">
                            {% for choice_type in choice_types %}
                            <option value="{{choice_type.id}}">{{choice_type.choice_type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div><br>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate("CANCEL")}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
