{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("QUESTION", 1) }} | {{question.id}}{% endblock %}

{% block page_description %}{{ translate("QUESTION.INFO_PAGE") }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-6">
            <div id="view-group" {% if question.status == "X" %} class="box box-success" {% else %} class="box box-default" {% endif %}>
                <div class="box-header with-border">
                    <h3 class="box-title">{{translate('QUESTION')}}</h3>
                    {% if 'tools' not in tools.hidden %}
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-gear"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu box-tool-menu">
                                    {% block tools %}
                                        <li>
                                            <a href="#" class="js-group-edit" data-slug="{{question.id}}">
                                                <i class="fa fa-edit fa-fw"></i> {{translate('EDIT')}}
                                            </a>
                                        </li>
                                        {% if 'delete' not in tools.hidden %}
                                            <li>
                                                <a href="#" class="js-group-delete" data-slug="{{question.id}}">
                                                    <i class="fa fa-trash-o fa-fw"></i> {{translate('DELETE')}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{question.question}}</h3>
                    <p class="text-muted">
                        {{translate('QUESTION.LEVEL')}} : {{question.level}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="widget-question-options" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{translate('QUESTION.OPTION',2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "tables/question_options.html.twig" with {
                            "table" : {
                                "id" : "table-question-options"
                            }
                        }
                    %}
                </div>
                {% if checkAccess('create_question') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-option-create">
                        <i class="fa fa-plus-square"></i>  {{ translate("QUESTION.OPTION.CREATE")}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div id="widget-question-meta" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{translate('QUESTION.META')}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "tables/question_meta.html.twig" with {
                            "table" : {
                                "id" : "table-question-meta"
                            }
                        }
                    %}
                </div>
                {% if checkAccess('create_question') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-meta-create">
                        <i class="fa fa-plus-square"></i>  {{ translate("QUESTION.META.CREATE")}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page variables -->
    <script>
    {% include "pages/partials/page.js.twig" %}

    // Add question id
    page = $.extend(
        true, // deep extend
        {
            question_id: "{{question.id}}",
            delete_redirect: "{{delete_redirect}}"
        },
        page
    );
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/question') | raw }}

{% endblock %}
